<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Chapitres</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let chapitre of chapitres">
      <ion-icon  (click)=" messagesmodal(chapitre.id)" name="list-outline"></ion-icon>
      <ion-label (click)=" download(chapitre.pdfPath)"> {{chapitre.titre}} </ion-label>
      <ion-icon name="caret-forward-outline" slot="end"> </ion-icon>

    </ion-item>

  </ion-list>
</ion-content>
