<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Categorie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  #form="ngForm" (ngSubmit)="save_categorie(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

          <div padding>
            <ion-item>
              <ion-label position="floating">Intitulé</ion-label>
              <ion-input  name="intitule" type="text" placeholder="Intitule" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Description</ion-label>
              <ion-input  name="description" type="text" placeholder="Description" ngModel required></ion-input>
            </ion-item>
            <div padding>

              <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Valider</ion-button>

            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
