<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Livres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let livre of livres">
      <ion-label (click)=" gotobook(livre.id)"> {{livre.titre}} </ion-label>
      <ion-icon name="caret-forward-outline" slot="end"> </ion-icon>

    </ion-item>

  </ion-list>
</ion-content>
