<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      CONTENU
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-card [routerLink]="['/books']">
      <img src="../../assets/madison.jpg" />
      <ion-card-header>
        <!--<ion-card-subtitle>Destination</ion-card-subtitle>-->
        <ion-card-title>Tous les Livres</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!--Founded in 1829 on an isthmus betweene Wisconsin Territory in 1836.-->
      </ion-card-content>
    </ion-card>

    <ion-card [routerLink]="['/videos']">
      <img src="../../assets/uZBpP3.jpg" />
      <ion-card-header>
        <!--<ion-card-subtitle>Destination</ion-card-subtitle>-->
        <ion-card-title>Toutes les videos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!--Founded in 1829 on an isthmus betweene Wisconsin Territory in 1836.-->
      </ion-card-content>
    </ion-card>


  </ion-content>
