<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
    BEAUTE AFRO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <ion-grid>
        <ion-item >
            <ion-label>
                Les derniers Livres
            </ion-label>
        </ion-item>
        <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }" pager>


                <ion-slide *ngFor="let livre of livres">
                <ion-card >
                    <img [src]= "'http://192.168.1.33:8000/' + livre.pathMiniature">
                    <ion-card-header>
                        <ion-card-subtitle>{{livre.titre}}</ion-card-subtitle>
                        <ion-card-title>{{livre.createAt | date:'MM/dd/yyyy'}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        {{livre.description}}
                    </ion-card-content>
                </ion-card>
                    </ion-slide >

        </ion-slides>

    </ion-grid>

    <ion-item >
        <ion-label>
            Les dernieres Videos
        </ion-label>
    </ion-item>


    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }" pager>


        <ion-slide *ngFor="let video of videos">
            <ion-card [routerLink]="['/video']">
                <img [src]= "'http://192.168.1.33:8000/' + video.miniature">
                <ion-card-header>
                    <ion-card-subtitle>{{video.titre}}</ion-card-subtitle>
                    <ion-card-title>{{video.createAt | date:'MM/dd/yyyy'}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    {{video.description}}
                </ion-card-content>
            </ion-card>
        </ion-slide >

    </ion-slides>




</ion-content>
