
<ion-content>
<ion-item>
  <ion-label>Messages</ion-label>
  <ion-button (click)=" closemodal()" size="small" slot="end">fermer</ion-button>
</ion-item>

<form  #form="ngForm" (ngSubmit)="save_commentaire(form)">
  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

        <div padding>
          <ion-item>
            <ion-label position="floating">Commentaire</ion-label>
            <ion-textarea name="contenu" placeholder="Votre message..." ngModel required></ion-textarea>          </ion-item>
          <div padding>
            <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Valider</ion-button>

          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>


<ion-item *ngFor="let commentaire of commentaires">
  <ion-avatar slot="start">
    <img src="../../../assets/avatar.jpg">
  </ion-avatar>
  <ion-label>
    <h2> {{commentaire.createAt  | date: 'dd/MM/yyyy' }} </h2>
    <h3> {{commentaire.contenu}} </h3>
    <p>Listen, I've had a pretty messed up day...</p>
  </ion-label>
</ion-item>

</ion-content>
