<ion-header>
  <ion-toolbar>
    <ion-title>Prendre un abonnement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form  #form="ngForm" (ngSubmit)="prendre_abonnement(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

          <div padding>
            <ion-item>
              <ion-label position="floating">Abonnement</ion-label>
              <ion-select placeholder="Selectionnez une categorie" name="abonnement" ngModel required>
                <ion-select-option [value]="abonnement.id"  *ngFor="let abonnement of abonnements" >{{abonnement.intitule + ' '+ abonnement.price + '€'}} </ion-select-option>

              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Numero Carte</ion-label>
              <ion-input  name="titre" type="text" placeholder="Titre" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Expiration</ion-label>
              <ion-input  name="description" type="text" placeholder="Description" ngModel required></ion-input>
            </ion-item>
         

            <div padding>
              <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Valider</ion-button>

            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
