<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Enregistrement</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <form  #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

          <div padding>
            <ion-item>
              <ion-label position="floating">Nom</ion-label>
              <ion-input  name="name" type="text" placeholder="Name" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Compte</ion-label>
              <ion-input  name="compte" type="text" placeholder="Compte" ngModel required></ion-input>
            </ion-item>
              <ion-item>
                  <ion-label position="floating">Pays</ion-label>
                  <ion-select placeholder="Selectionnez un pays" name="pays" ngModel>
                      <ion-select-option [value]="pays1"  *ngFor="let pays1 of pays" >{{pays1}} </ion-select-option>

                  </ion-select>
              </ion-item>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Mot de passe</ion-label>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Inseré de nouveau le Mot de passe</ion-label>
              <ion-input name="confirm" type="password" placeholder="Password again" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Valider</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
