<p class="ion-text-center">
Vos parametres
</p>

<ion-grid>
  <ion-row>
    <ion-col [size]="5">
      Nom :
    </ion-col >
    <ion-col [size]="7">
      {{nom}}
    </ion-col >
    <ion-col [size]="5">
      Email :
    </ion-col>
    <ion-col [size]="7">
     {{prenom}}
    </ion-col>

    <ion-col [size]="12" class="ion-text-center" >
      vous etes Abonné
    </ion-col>
  </ion-row>


  <ion-list>
    <ion-item>
      <ion-label [routerLink]="['/abonement']" >Acheter Abonnement</ion-label>
    </ion-item>
    <ion-item>
      <ion-label >Nous Contacter</ion-label>
    </ion-item>

  </ion-list>

</ion-grid>

<div [size]="12" class="ion-text-center" >
  Administration
</div>

<ion-list>
  <ion-item>
    <ion-label [routerLink]="['/users']" >Gerer utilisateurs</ion-label>
  </ion-item>
  <ion-item>
    <ion-label [routerLink]="['/abonnement']">Gerer Abonnement</ion-label>
  </ion-item>
  <ion-item>
    <ion-label  [routerLink]="['/categorie']">Gerer Categories</ion-label>
  </ion-item>

  <ion-item>
    <ion-label [routerLink]="['/crbook']">Gerer Livres</ion-label>
  </ion-item>
  <ion-item>
    <ion-label >Gerer Videos</ion-label>
  </ion-item>
  <ion-item>
    <ion-label [routerLink]="['/chapitre']">Gerer Chapitres</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Gerer Commentaires</ion-label>
  </ion-item>

  <ion-item>
    <ion-label [routerLink]="['/factures']">Gerer Factures</ion-label>
  </ion-item>
</ion-list>

<div padding>
  <ion-button  size="large" type="submit" expand="block" color="danger"  (click)="deconnexion()" >Deconnexion</ion-button>
</div>