<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Livre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  #form="ngForm" (ngSubmit)="save_livre(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

          <div padding>
            <ion-item>
              <ion-label position="floating">Titre</ion-label>
              <ion-input  name="titre" type="text" placeholder="Titre" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Description</ion-label>
              <ion-input  name="description" type="text" placeholder="Description" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Categories</ion-label>
              <ion-select placeholder="Selectionnez une categorie" name="categorie" ngModel>
                <ion-select-option [value]="categorie.id"  *ngFor="let categorie of categories" >{{categorie.intitule}} </ion-select-option>

              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Miniature</ion-label>
              <ion-button (click)="choisirfichier()" >Upload MINIATURE</ion-button>
            </ion-item>

            <div padding>
              <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Valider</ion-button>

            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
