<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Utilisateurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" [routerLink]="['/users']" >Ajouter Utilisateur</ion-button>
  <ion-list>
    <ion-item-sliding *ngFor="let user of users">
      <ion-item>
        <ion-label>
          <h2>Compte : {{user.username}} </h2>
          <h3>Localisation: {{user.localisation}} </h3>
          <p>Email : {{user.email}} </p>
        </ion-label>
      </ion-item>
      <ion-item-options  side="end">
        <ion-item-option color="danger" (click)="supprimer(user.id)">Supprimer</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
