<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>factures</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-row style="border-bottom: groove;">
    <ion-col col-4>
      <ion-label >Utilisateur</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label >Date de debut</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label >Prix</ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;" *ngFor="let facture of factures">
    <ion-col col-4>
      <ion-label > {{facture.user.username}}</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label >{{facture.createdAt | date: 'dd/MM/yyyy'}}</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label >{{facture.abonnement}}</ion-label>
    </ion-col>
  </ion-row>


</ion-content>
