    <ion-header [translucent]="true">
      <ion-toolbar color="dark">
        <ion-title>
          Parametres
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content >

    <app-register-component ></app-register-component>

    <app-parametre-component  ></app-parametre-component>

    </ion-content>
