<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>videos</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let video of videos">
      <ion-label (click)="gotovideo(video.id)" > {{video.titre}} </ion-label>
      <ion-icon name="caret-forward-outline" slot="end"> </ion-icon>

    </ion-item>

  </ion-list>


</ion-content>
