<ion-tabs >

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" >
      <ion-icon name="logo-youtube"></ion-icon>
      <ion-label>Contenu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>Parametres</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
