<form  #form="ngForm" (ngSubmit)="connexion(form)">
<ion-list>
  <ion-item>
    <ion-label position="floating">Utilisateur</ion-label>
    <ion-input type="text" name="utilisateur"  ngModel required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mot de passe</ion-label>
    <ion-input type="password" name="password"  ngModel required></ion-input>
  </ion-item>
</ion-list>

  <ion-button expand="block" [disabled]="form.invalid" type="submit">Connexion</ion-button>
</form>

<div padding>

  <ion-button expand="full" color="primary" (click)="fbLogin()">
    Connexion avec
    <ion-icon name="logo-facebook"></ion-icon>
  </ion-button>
</div>

<br>
<div>
  <p>Vous n'avez pas de compte ? Enregistrez vous!!</p>

  <ion-button expand="block" [routerLink]="['/register']">Enregistrement</ion-button>

</div>