<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--<ion-card  >-->
    <!--<img src="http://192.168.1.33:8000/ + {{video.miniature}}" />-->
    <!--<ion-card-header>-->
      <!--<ion-card-subtitle>{{video.description}}</ion-card-subtitle>-->
      <!--<ion-card-title>{{video.titre}}</ion-card-title>-->
    <!--</ion-card-header>-->
    <!--<ion-card-content>-->
      <!--&lt;!&ndash;Founded in 1829 on an isthmus betweene Wisconsin Territory in 1836.&ndash;&gt;-->
    <!--</ion-card-content>-->
  <!--</ion-card>-->

</ion-content>
